.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  background-color: #eed6eb;
}

h1 {
  text-align: center;
}
ul {
  list-style: none;
}

li {
  height: 100px;
}

p {
  font-size: 12px;
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #eed6eb;
}

button {
  background-color: #e080f3;
  margin: 5px 5px;
  align-items: center;
  font-size: 15px;
  border-radius: 5%;
  border: none;
  color: azure;
  width: 100px;
}
